*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

body{
    background-color:antiquewhite;
    display: flex;
    flex-direction: column;
    min-height:100vh;
   align-items: center;
}

h1,#taskForm,#Task-Container{
    margin-top: 20px;
}

form{
   
    width:60%;
}

#task-input-field{
    width:85%;
    padding:10px;
    outline: none;
    border-radius: 0px;
    border:none;
}

form button{
    padding: 10px;
   background-color: rgb(3, 190, 3);
   border:none;
   margin-left: -5px;
}

#Task-Container ul{
    list-style: none;
}

.Update,.Delete{
    padding: 3px 5px;
}